{% extends "base.html" %}

{% block content %}
    {% csrf_token %}
    {% if request.user.is_authenticated %}
        <h1>Новый вопрос</h1>
        <form id="form_ask">
            <table cols="2" class="input-group row ask-form" align="left">
                <tr>
                    <td class="col-md-3">Вопрос</td>
                    <td class="col-md-9">{{ form.title }}</td>
                </tr>
                <tr>
                    <td class="col-md-3">{{ form.text.label }}</td>
                    <td class="col-md-9">{{ form.text }}
                    </td>
                </tr>
                <tr>
                    <td class="col-md-3">{{ form.tags.label }}</td>
                    <td class="col-md-9">{{ form.tags }}</td>
                </tr>
                <tr>
                    <td class="col-md-3"></td>
                    <td class="col-md-9">
                        {% include "items/loader_button.html" with button_text="Спросить!" %}
                    </td>
                </tr>

            </table>
        </form>
        <script src="/static/js/ask.js" type="text/javascript"></script>
    {% else %}
        <p>Страница доступна только авторизированным пользователям</p>
    {% endif %}
{% endblock %}