{% extends "base.html" %}

{% block content %}
    <div id="main-question" class="question" data-id="{{ question.id }}">
        <div class="row">
            <div class="col-md-2 question-left hidden-xs hidden-sm">
                <a><img src="/static/image/ava.png"></a>
                <div class="question-author">Никита Куликов</div>
                <div class="rating">
                            <span>Рейтинг: <span class="fa fa-caret-down"
                                                 style="color: red"></span> {{ question.rating }} <span
                                    class="fa fa-caret-up" style="color: green"></span></span>
                </div>
            </div>
            <div class="col-md-9">
                <div>
                    <h2>{{ question.title }}</h2>
                    <p>{{ question.full_question }}
                    </p>
                </div>
                <div class="question-bottom">
                        <span class="tags">Tags:
                            {% for tag in tags %}
                                <a href="{% url 'tag' tag.title %}" class="label label-default">{{ tag.title }}</a>
                            {% endfor %}
                        </span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="question-all full-size">
        {% if answers|length > 0 %}
            {% for answer in answers %}
                {% include 'items/answer.html' with answer=answer %}
            {% endfor %}
        {% else %}
            <p>Пока еще никто не оставил ответ на этот вопрос. Будь первым!</p>
        {% endif %}
    </div>
    <hr>
    <div class="answer-form">
        <form id="form_answer" class="form-group">
            {{ form.text }}
            {% include 'items/loader_button.html' with button_text="Ответить" %}
        </form>
    </div>

    <script src="/static/js/answer.js" type="text/javascript"></script>
{% endblock %}