/* Header */
header {
    height: 60px;
    background-color: #d3d3d3;
}
header > .navbar {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.logo img {
    height: 40px;
}
.logo a {
    padding-top: 8px;
    padding-bottom: 10px;
}

.logo a:hover {
    opacity: .8;
}

.form-search {
}

.search > .input-group {
    padding-top: 4px;
    /*TODO*/
}
