/* Шапка */
.navbar-brand {
    display: inline-block;
    box-sizing: content-box;
    height: 35px;
}

.navbar-brand img {
    height: 100%;
}

.ask-question > a {
    padding: 22px 20px !important;
}

.user-block > a {
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

.user-block > a > img {
    height: 35px;
    border-radius: 50px;
    margin-right: 5px;
}

.user-block > ul {
    width: 100% !important;
    text-align: center;
}

.search {
    margin: 0;
    padding-bottom: 15px;
    padding-top: 15px;
}

/* Колонка справа */
.question-right {
    padding-left: 0;
}

.tags .label {
    font-size: 18px;
    margin: 5px;
}

.crown {
    display: inline-block;
    height: 20px;
    margin-top: -6px;
}

/* Вопросы */
.question-all {
    padding-right: 15px;
}

.question-background {
    margin-bottom: 20px;
    overflow: hidden;
    height: 150px;
    box-sizing: content-box;
    padding: 20px 0 20px 0;
    border: 1px solid #e3e3e3;
}

@media screen and (max-width: 991px) {
    .question > .row {
        margin-left: 15px;
        margin-right: 15px;
    }
}

/* Вопросы справа */
.question-right {
    height: 150px;
}

.question h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px 0px 10px;
}

.question-text p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 55px;
    margin-bottom: 32px;
    text-overflow: ellipsis;
    font-size: 20px;
}

.question-bottom {
    display: flex;
    justify-content: space-between;
}

.question-bottom > a {
    font-size: 18px;
    margin-top: -5px;
}

.question-bottom .tags .label {
    font-size: 12px;
}

/*Вопросы слева инкремент и декремент*/
.question-left {
    text-align: center;
    padding-right: 0;
}

.question-author {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 8px 5px 20px;
}

.question-left img {
    width: 60%;
}

/* Формочка вопроса*/
.ask-form{
    width: 100%;
}
.ask-form tr > td{
    vertical-align: top;
}

.ask-form td{
    padding-top: 15px;
}

/* Страничка вопроса */
.answer-form {
    margin-right: 15px;
}