<div>
    <h1>Теги:</h1>
    <div class="tags">
        <span class="label label-default">Php</span>
        <span class="label label-default" style="background-color: red">Java</span>
    </div>
</div>
<div>
    <h1>Лучшие пользователи:</h1>
    <ul class="best-users list-group">
        <li class="list-group-item">
            <span class="badge">+14</span> LionZXY <img class="crown" src="/static/image/crown.png">
        </li>
        <li class="list-group-item">
            <span class="badge">+7</span> 00x0
        </li>
        <li class="list-group-item">
            <span class="badge">-1</span> Luser
        </li>
        <li class="list-group-item">
            <span class="badge">-14</span> Я
        </li>
    </ul>
</div>