<div class="question question-background" data-id="{{ qst.id }}">
    <div class="row">
        <div class="col-md-2 question-left hidden-xs hidden-sm">
            <a><img src="/static/image/ava.png"></a>
            <div class="question-author">{{ qst.by_user.name }}</div>
            <div class="rating">
                            <span>Рейтинг: <span class="fa fa-caret-down"
                                                 style="color: red"></span> {{ qst.rating }} <span
                                    class="fa fa-caret-up" style="color: green"></span></span>
            </div>
        </div>
        <div class="col-md-9 question-right">
            <div class="question-text">
                <h2>{{ qst.title }}</h2>
                <p>{{ qst.full_question }}
                </p>
            </div>
            <div class="question-bottom">
                <a href="/question/{{ qst.id }}">answer ({{ qst.answers|length }})</a> <span class="tags">Tags:
                {% for tag in qst.tags.all %}
                    <a href="{% url 'tag' tag.title %}" class="label label-default">{{ tag.title }}</a>
                {% endfor %}
            </span>
            </div>
        </div>
    </div>
</div>